<div id="footerwrap">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12">
                <h4>Follow Us On Social Media</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>-->
            <div class="col-md-6" style="padding-top: 15px;">
                <h4 class="centered">Find Us On Facebook</h4>
                <div class="hline-w"></div>
                <p class="centered">
                    You can check out the
                        <a href="https://www.facebook.com/groups/UFAIClub/"
                                             class="btn-social btn-outline" target="_blank">
                            Artificial Intelligence Club Facebook Page
                        </a>
                    for event details and more
                    information
                </p>
            </div>
            <div class="col-md-6" style="padding-top: 15px;">
                <h4 class="centered">Newsletter</h4>
                <div class="hline-w"></div>
                <p class="centered">
                    To learn more about upcoming Artificial Intelligence Club events, please click <a href="https://groups.google.com/forum/#!forum/ufai/join" target="_blank">here</a> to subscribe to the email newsletter
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
