<div class="container pb">

    <div class="row centered">
        <h2 class="mb">Club Officers</h2>
    </div>

    <div class="row centered">
        {% for member in site.members limit: 3 %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <div class="he-wrap tpl6">
              <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
              </div><!--he wrap-->
              <h4>{{ member.name }}</h4>
              <h5 class="ctitle">{{ member.position }}</h5>
              <p>{{ member.text }}</p>
              <div class="hline"></div>
          </div><!--/col-lg-3-->
          {% if forloop.index == 2 %}
            <div class="col-xs-3 visible-xs"></div>
          {% endif %}
        {% endfor %}
    </div>

<br />

    <div class="row centered">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
        {% for member in site.members offset: 3 %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
            </div><!--he wrap-->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><!--/col-lg-3-->
        {% endfor %}
    </div><!--/row-->

<br /><br />

</div><!--/container-->
